/* centro a mo' di articolo */
body {
    margin: 0 10%;
}

/* tento di riuscire con l'header: posso tagliare l'immagine??*/
.pattern {
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: dodgerblue;
    background-size: contain;
    background-position: center;
}

#logo {
    width: 20%;
    margin: 65px 0;

}

/* inizia parte testuale */
h1 {
    margin-bottom: 0%;
    font-size: 35px;
}

.didascalia,
.data {
    color: rgb(133, 124, 124);
}

/* immagini */
.data,
.images-description {
    font-size: 0.7em;
}

a {
    text-decoration: none;
}

.yellow {
    background-color: yellow;
}

/* allineo lista */
ul {
    padding-left: 15px;
}