/* centro a mo' di articolo */
body {
    margin: 0 10%;
}

.pattern {
    height: 85px;
    background-image: url('../img/pattern.png');
    background-color: dodgerblue;
    background-size: 30%;
    background-position: top;
}

#logo {
    width: 20%;
    margin: 30px 0;

}

/* inizia parte testuale */
h1 {
    margin-bottom: 0%;
    font-size: 35px;
}

.didascalia,
.data {
    color: rgb(133, 124, 124);
}

/* immagini */
.data,
.images-description {
    font-size: 0.7em;
}

a {
    text-decoration: none;
}

/* evidenziatura testo */
.yellow {
    background-color: yellow;
}

/* allineo lista */
ul {
    padding-left: 15px;
}

/* tabella */
table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

th {
    width: 25%;
    color: white;
    background-color: dodgerblue;

}

#casella-grande {
    width: 50%;
}

thead.tr {
    height: 5px;
}

tbody,
tr {
    background-color: skyblue;
    height: 20px;
    /* non capisco perchè funzioni (': */
}

#white {
    background-color: white;
    height: 45px;
}

/* immagini a piè pagina */
section>div {
    width: 230px;
    height: 170px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;


}

.img-monitor {
    background-image: url('../img/monitor.jpg');
}

.img-graph {
    background-image: url('../img/graph.jpg');
}

.testo {
    padding: 15px;

}